<!DOCTYPE html>
<html>
<head>
  <title>Cervezas</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
<body>

<!-- Card en el que se mostrara la cerveza -->
<div class="w3-container">
  <div class="w3-card-4" style="width:25%">
    <img src="http://bierhausvirginia.com/wp-content/uploads/2016/09/paulaner.png" style="width:100%">
    <div class="w3-container">
      <h2 class="w3-center">Paulaner</h2>
      <p><b>Pais:</b> Alemania</p>
      <p><b>Población:</b> Berlin</p>
      <p><b>Fecha de almacenamiento:</b> 21/06/2016</p>

      <div class="clash-card__unit-stats--wizard">
        <div class="div-bottom w3-center">
          <div class="stat">Trigo</div>
          <div class="stat-value">Tipo</div>
        </div>

        <div class="div-bottom w3-center">
          <div class="stat">500ml</div>
          <div class="stat-value">Tamaño</div>
        </div>

        <div class="div-bottom w3-center">
          <div class="stat">10</div>
          <div class="stat-value">Cantidad</div>
        </div>

        <div class="div-bottom w3-center">
          <div class="stat">Si</div>
          <div class="stat-value">Importación</div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
